.card {
  background-color: rgb(33, 33, 33);
  border: 1px;
  border-style: solid;
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}


.title {
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.subtitle {
  font-family: arial;
  color: rgb(160, 160, 160);
  margin-top: 0;
  margin-bottom: 0;
}